<h1>¡Hola mundo desde Rails!</h1>

<% sum = 25 + 25%>
<% if true %>
    <p>Es verdadero...</p>
<% end%>


<% [1,2,3].each do |i| %>
    <p><%= i %></p>
<% end %>

<a href="/">Home</a>
<%= link_to  "Inicio", "/" %>